<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      py:with="preview_mode = 'preview' in req.args">
<head>
    <title>add</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <py:if test="chrome.links">
        <py:for each="rel, links in chrome.links.items()">
            <link rel="${rel}" py:for="link in links" py:attrs="link"/>
        </py:for>
    </py:if>
    <script py:if="chrome.script_data" type="text/javascript">
        <
        py:for each = "key, value in chrome.script_data.iteritems()" >
               var ${key}=${to_json(value)};
        </
        py:for>
    </script>
    <py:for each="script in chrome.scripts">
        ${script.prefix}
        <script type="${script.type}" charset="${script.charset}" src="${script.href}"></script>
        ${script.suffix}
    </py:for>
</head>

<body data-demo-id="statemachine" data-library="jquery">


<div id="main">
    <!-- demo -->

    <div class="demo2">
        <p>
            <button id="delectall">delectall</button>
        </p>
        <p>
            <select id="namede" class="selectid">
            </select>
            <button id='buttonde'>delectone</button>
        </p>
        <br/>
        <br/>
        <br/>
        <p>
            <input id="addlist" type="text" placeholder="name,name,name,..."/>
            <button id="addall">addall</button>
        </p>
        <p>
            <input type="text" id="name" placeholder="name"/>
            <button id='button'>addone</button>
        </p>
        <br/>
        <br/>
        <br/>
        <p>
            <button id="con">connectall</button>
        </p>
        <p>
            <select id="startid" class="selectid">
            </select>
            <select id="endid" class="selectid">
            </select>
            <button id='btncon'>connectone</button>
        </p>
    </div>

    <div class="demo statemachine-demo" id="canvas">
        <div id="first" style="width: 0px;height: 0px;"></div>
        <div class="w" id="opened">BEGIN
            <div class="ep"></div>
        </div>
        <div class="w" id="phone1">PHONE INTERVIEW 1
            <div class="ep"></div>
        </div>
        <div class="w" id="phone2">PHONE INTERVIEW 2
            <div class="ep"></div>
        </div>
        <div class="w" id="inperson">IN PERSON
            <div class="ep"></div>
        </div>
        <div class="w" id="rejected">REJECTED
            <div class="ep"></div>
        </div>
    </div>
    <!-- /demo -->
</div>


</body>
</html>